*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: antiquewhite; */
}

.hero{
  display: flex;
  height: 100vh;
  /* background-image: url('./image/pic2.jpg'); */
  background-size:cover;
  box-shadow: inset 0 0 0 2000px rgba(0,0, 0, 0.1);
}

.content{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  

}

.content h1{
  font-size:56px ;
  font-weight: bolder;
  color: white;
 

}

.content p{

  font-size:  22px;
  margin:15px 0;
  max-width: 500px;
  letter-spacing: 2px;
  
}

.content a{
  color:inherit;
  text-decoration: none;
  background-color: aqua;
  padding:12px 24px;
  font-size: 22px;
  border-radius: 10px;



}