body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.groupPage-container {
    display: flex;
    width: 100%;
    height: 95%;
    margin: 20px;
}

.left-section {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.timer-tasks-container {
    display: flex;
}

.timer-div {
    flex: 1;
    background-color: #add8e6;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasks-div {
    flex: 1;
    background-color: #20b2aa;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-div {
    background-color: #ffa07a;
    height: 50%;
    padding: 10px;
}

.notes-div {
    flex: 3;
    background-color: #ffffe0;
    padding: 10px;
    justify-content: center;
}